* {
    background-color: rgb(20, 50, 79);
    color: white;
}
h1 {
    text-align: center;
}
h2 {
text-align: center;
}
.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(20, 50, 79);
    background-attachment: White;
}
button {
    background-color: rgb(170, 157, 149);
    color: white;
    font-weight: bolder;
    font-size: medium;

}
.bio {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.me {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    text-align: center;
}
p {
    background-color: rgb(170, 157, 149);
    width: 380px;
    height: 400PX;
}
.family {
    height: 400px;
    width: 350px;
}
.icons {
    height: 75px;
    width: 75px;
    display: flex;
    flex-direction: row;
    padding-left: auto;
    margin: auto;
    justify-content: center;
}
.info {
    height: 75px;
    width: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.project-bio {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.project-info {
    display: flex;
    height: 400px;
    width: 400px;
    text-align: center;
}
.homepage {
    height: 500px;
    width: 450px;
}