* {
    background-color: darkgray; 
    color: white;
}
h1 {
    text-align: center;
}
h2 {
text-align: center;
}
.josh{
    height: 80px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    margin: 0px auto;    
}
.img-josh{
    margin: 0px auto;
    /* border-style: solid; */
    margin-bottom: 10px;
}
.bio {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}
.bio-section{
    display: flex;
    flex-direction: row;
    border-style: solid;
    margin: 0px auto;
    width: 753px;
    height: 445px;
    flex-wrap: wrap;
}
.me {
    display: flex;
    flex-direction: column;
    /* border-style: solid; */
    height: 200px;
    width: 400px;
    text-align: center;
}
.goals-h3{
    text-align: center;
    /* border-style: solid; */
    width: 70px;
    height: 40px;
    margin: 0px auto;
}
p {
    /* background-color: rgb(170, 157, 149); */
    width: 380px;
    height: 400PX;
}
.family {
    height: 442px;
    width: 350px;
    border-radius: 10%;
}
.icons {
    height: 75px;
    width: 75px;
    display: flex;
    flex-direction: row;
    padding-left: auto;
    margin: auto;
    justify-content: center;
}
.info {
    height: 75px;
    width: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.project-bio {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.project-info {
    display: flex;
    height: 400px;
    width: 400px;
    text-align: center;
}
.homepage {
    height: 500px;
    width: 450px;
}
  #top-page{
        margin: 0px;
        color: white;
        text-align: center;
    }
    .icons {
        height: 60px;
        width: 75px;
        display: flex;
        flex-direction: row;
        padding-left: auto;
        margin: auto;
        justify-content: center;
    }
    .container{
        width: 100%;
        height: 70vh;
        /* background: black; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex: row;
    }
    .swiper-slide img{
        width: 100%;
    }
    .swiper {
        width: 60%;
        height: 100%;
    }
    .swiper .swiper-button-prev, .swiper .swiper-button-next{
        color: black;
    }
    .swiper .swiper-pagination-bullet-active{
        margin-top: 80px;
        background-color: black;
    }
    .description{
        display: flex;
        flex-direction: column;
    }
    h3{
        text-align: center;
    }
    /* p{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
    } */
    .project{
        display: flex;
        flex-direction: row;
    }
form{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

}     
.contact{
    border-style: solid;
    height: 250px;
    width: 500px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.link{
    width: 50px;
    height: 50px;
    color: blue;
}
.git{
    width: 50px;
    height: 50px;
    color: black;
}
.youtube{
    width: 50px;
    height: 50px;
    color: red;
}
.chrome{
    width: 50px;
    height: 50px;
    color: blue;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}