* {
    background-color: darkgray; 
    color: black;
}
h1 {
    text-align: center;
}
h2 {
text-align: center;
}
.josh{
    height: 80px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    margin: 0px auto;    
}
.img-josh{
    margin: 0px auto;
    margin-bottom: 10px;
}
.bio {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}
.bio-section{
    display: flex;
    flex-direction: row;
    border-style: solid;
    margin: 0px auto;
    width: 760px;
    height: 460px;
    flex-wrap: wrap;
}
.me {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 400px;
    text-align: center;
}
.goals-h3{
    text-align: center;
    width: 70px;
    height: 42px;
    margin: 0px auto;
}
.goals{
    width: 260px;
    text-align: center;
    margin-left: 60px;
}
p {
    width: 380px;
    height: 400PX;
}
.family {
    height: 440px;
    width: 350px;
    border-radius: 10%;
    margin-top: 10px;
}
.icons {
    height: 75px;
    width: 75px;
    display: flex;
    flex-direction: row;
    padding-left: auto;
    margin: auto;
    justify-content: center;
}
.info {
    height: 75px;
    width: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.project-bio {
    text-align: center;
    height: auto;
    font-size: medium;
}
.project-info {
    display: flex;
    height: 350px;
    width: 400px;
    text-align: center;
}
.homepage {
    height: 500px;
    width: 450px;
}
  #top-page{
        margin: 0px;
        text-align: center;
    }
    .icons {
        height: 60px;
        width: 75px;
        display: flex;
        flex-direction: row;
        padding-left: auto;
        margin: auto;
        justify-content: center;
    }
    .container{
        width: 650px;
        height: 600px;
        /* background: black; */
        /* border-style: solid; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex: row;
        margin-top: 10px;
        flex-wrap: wrap;
    }
    .swiper-slide img{
        width: 550px;
        height: 550px;
        margin-left: 50px;
    }
    .swiper {
        width: 650px;
        height: 100%;
    }
    .swiper .swiper-button-prev{
        color: black;
        margin-right: 70px;
        background-color: none;

    }
    .swiper .swiper-button-next{
        color: black;
        margin-left: 70px;
    }
    .swiper .swiper-pagination-bullet-active{
        margin-top: 80px;
        background-color: black;
    }
    .description{
        display: flex;
        flex-direction: column;
    }
    h3{
        text-align: center;
    }
    .project{
        display: flex;
        flex-direction: row;
        border-style: solid;
        
        justify-content: center;
        width: 1040px;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
    }
form{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

}     
.link{
    width: 50px;
    height: 50px;
    color: blue;
}
.git{
    width: 50px;
    height: 50px;
    color: black;
}
.youtube{
    width: 50px;
    height: 50px;
    color: red;
}
.chrome{
    width: 50px;
    height: 50px;
    color: blue;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.swiper-slide{
    color: blue;
}
.icon-links{
    text-align: center;
}
.programs{
    text-align: center;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    justify-content: space-around;
}
.list{
    margin: 0;
}
.label{
    width: 60px;
}
.input-contact{
    border-style: solid;
    width: 200px;
    
}
.sub-btn{
    border-style: solid;
    border-color: black;
    height: 30px;
    width: 200px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-weight: bolder;
    color: white;
    font-size: medium;
    border-radius: 2%;
}
.form-sections{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.program-icons{
    width: 50px;
    height: 50px;
    justify-content: space-around;
}
input{
    border-color: black;
}
.contact-bgc{
    border-style: solid;
    height: 510px;
    width: 590px;
    border-radius: 5%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
input[type=text], select, textarea {
  width: 500px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: medium;
}
.contact {
  border-radius: 10px;
  border-style: solid;
  padding: 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
#subject{
    height: 100px;
    font-size: large;
}
label{
    font-size: large;
    font-weight: bold;
}
.links-icon{
    /* border-style: solid; */
    margin-bottom: 12px;
}